@import "tailwindcss";

.border-df {
  border-color: #ddd;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #f5f5f5;
  font-size: 16px;
}

img {
  object-fit: cover;
}

input {
  outline: none;
}

.active {
  color: #d73502;
}

.IndexColor {
  color: #d73502;
}
.IndexBackground {
  background-color: #ff521e;
}
.Pagearea {
  width: 1500px;
  margin: auto;
}

.ScrollSystem {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #eee transparent;
}

@media screen and (min-width: 1900px) {
  .Pagearea {
    width: 1500px;
  }
}

@media screen and (max-width: 1600px) {
  .Pagearea {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (max-width: 1100px) {
  .Pagearea {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 600px) {
  .Pagearea {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.StikeyPosition {
  position: sticky;
  top: 0;
}
