@import "tailwindcss";

.border-df {
  border-color: #ddd;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #f3f3f3;
  font-size: 16px;
}

img {
  object-fit: cover;
}

.Pagearea {
  padding: 0 10%;
}
