@import "tailwindcss";

@theme {
  --color-ascent: #d73502;
  --color-ascent-secondary: #ff521e;
  --color-primary: #333;
  --color-loose: #555;
  --color-secondary: #666;
  --color-tertiary: #888;
  --color-border: #ddd;
  --color-background: white;
  --color-background-secondary: #f5f5f5;
  --color-hovermenu: #f5f5f5;
}
.dark {
  --color-ascent: #d73502;
  --color-ascent-secondary: #ff521e;
  --color-primary: #f5f5f5;
  --color-loose: #eee;
  --color-secondary: #ccc;
  --color-tertiary: #aaa;
  --color-border: #555;
  --color-background: #333;
  --color-background-secondary: #222;
  --color-hovermenu: #222;
}
.border-df {
  border-color: #ddd;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  font-size: 16px;
}

img {
  object-fit: cover;
}

input {
  outline: none;
}

.active {
  color: #d73502;
}

.IndexColor {
  color: #d73502;
}
.IndexBackground {
  background-color: #ff521e;
}
.Pagearea {
  width: 1500px;
  margin: auto;
}

.ScrollSystem {
  scrollbar-width: thin;
  scrollbar-color: #eee transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 1900px) {
  .Pagearea {
    width: 1500px;
  }
}

@media screen and (max-width: 1600px) {
  .Pagearea {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (max-width: 1100px) {
  .Pagearea {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 600px) {
  .Pagearea {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.StikeyPosition {
  position: sticky;
  top: 0;
}
